<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>contratos de <%=nombre%></h1>
    <% datos.forEach(function (datos){ %>
        <div style="border: 1px solid black; margin: 12px; padding: 5px;">
            <h2>contrato#<%=datos.id_contrato%></h2>
            <div style="border: 1px solid black; margin: 4px;">
                <h3>datos del contrato</h3>
                <h4>Numero de contrato:<%=datos.id_contrato%></h4>
                <h4>precio:<%=datos.valor_sev%></h4>

            </div>

            <div style="margin: 4px;">
                <h3>datos del asociado</h3>
                <h4> Asociado que preata el servicio: <%=datos.nombre%> <%=datos.apellido%></h4>
                <h4>Correo de contacto:<%=datos.correo%></h4>
                <h4>Telefono de contacto:<%=datos.num_tel%></h4>
            </div>
            <div style=" margin: 4px;">
                <h3>datos del cliente</h3>
                <h4> cliente: <%=nombre%> <%=apellido%></h4>
                <h4>Numero de identificacion:<%=documento%></h4>
                <h4>Correo de contacto:<%=correo%></h4>
                <h4>Telefono de contacto:<%=telefono%></h4>

            </div>

            <div style=" margin: 4px;">
                <h3>datos del servicio</h3>
                <h4>Numero del servicio:<%=datos.id_servicio%></h4>
                <h4>nombre del serivicio:<%=datos.nombre_serv%></h4> 
                <p><h4>descripcion del servicio:</h4><%=datos.descripcion%></p>
            </div>

            </div>
        </div>
    <%})%>  
</body>
</html>